/* Outil déboguage */
/* body .conteneur, body .conteneur *
{
    border:solid 1px black;
} */
/* Définition de la Police Raleway */
@font-face 
{
    font-family: 'raleway';
    src: url('Police/raleway-light-webfont.woff2') format('woff2'),
    url('Police/raleway-light-webfont.woff') format('woff'),
    url('Police/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body
{
    font-family:'raleway', 'open-sans', Arial, Helvetica, sans-serif;
    padding-left:1%;
    padding-right:1%;
}
.conteneur
{
    max-width: 1340px;
    margin:auto;
}

/* Désactivation des styles par défauts pour les listes et liens */
a
{
    text-decoration:none;
    color:black;
}
li
{
    list-style-type:none;
}

/********* DEBUT DE L'ENTÊTE (HEADER) *********/
header
{
    margin-bottom:35px;
}
header .conteneur
{
    display: flex;
    justify-content:space-between;
}
header img
{
    width:94px;
}
header .conteneur #volet_droit
{
    display: flex;
    align-items: center;
    font-size:0.9em;
    margin:0px;
    padding:0px;
    width:33.4%;
}
        /* Les menus principaux */
        nav
        {
            margin:0px;
            padding:0px;
            height:100%;
            flex:2;
        }
        /* Regroupement de la liste*/
        nav ul
        {
            margin:0px;
            padding:0px;
            height:100%;
            display: flex;
        }
        /*Chaque liste*/
        nav li
        {
            flex:1;
            margin:0px;
            padding:0px;
            height:100%;
            display:flex;
        }
        /* Liens de la liste */
        nav a
        {
            margin:0px;
            width:100%;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        /* Survol des menus */
        nav a:hover
        {
            color:#0065FC;
            border-top:solid 2px #0065FC;
        }
        
        /* inscription: lien_s'inscrire */
        header p
        {
            flex:1;
            height:100%;
            display: flex;
            align-items:center;
            justify-content:center;
        }
        header p a
        {
            font-weight:bold;
            color:#0065FC;
        }
/********* FIN DE L'ENTÊTE (HEADER) *********/


/********* DEBUT DU VOLET DE LA BARRE DE RECHERCHE - DES FILTRES ET DE LA PHRASE INFORMATIVE *********/
/* Le bloc de la partie*/
header + .conteneur {margin-bottom:36px;}
/* Titre de la partie */
header + .conteneur h1
{
    margin:0px;
    padding:0px;
    font-size:1.4em;
    font-weight:bold;
}
/* Paragraphe en dessous du titre */
header + .conteneur h1 + p
{
    margin:0px;
    margin-top:10px;
    padding:0px;
    font-size:0.98em;
}
/*Formulaire barre de recherche*/
form
{
    margin-top:19px;
    margin-bottom:30px;
    display:flex;
    height:50px;
    width:418px;
    border-radius:15px;
    overflow:hidden;
    font-size:1.4em;
}
    /*  L'image */
    form span
    {
        display:flex;
        justify-content:center;
        align-items:center;
        background-color:#F2F2F2;

        /* flex:1; */
        width:51px;
    }
    /*Le champs de saisie*/
    #champ_de_saisie
    {
        /* flex:4.5; */
        text-align:left;
        padding-left:16px;
        font-weight:bold;
        border:solid 1px #F2F2F2;

        font-size:0.8em;
    }
    /* Le bouton de recherche */
    #bouton_recherche
    {
        color:white;
        background-color:#0065FC;
        /* flex:2.5; */
        font-weight:bold;
        font-size:0.8em;
        border:0px;
    }
/* Bannière des filtres */
#filtres
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:938px;
    font-weight:bold;
}
    /* Mot introduisant les filtres */
    #filtres p
    {
        margin:0px;
        margin-left:10px;
        font-size:1.15em;
    }
    /* Regroupement des listes de filtres */
    #filtres ul
    {
        margin:0px;
        padding:0px;
        display:flex;
        justify-content:space-between;
        width:88%;
        height:50px;
        font-size:1.2em;
    }
    /* Chaque liste ---- Chaque filtre */
    #filtres li
    {
        display:flex;
        justify-content:space-between;
        align-items:center;
        border-radius:25px;
        padding-right:2%;
        border:solid 3px #F2F2F2;
    }
    /*Au survol des filtres*/
    #filtres li:hover
    {
        border:solid 3px #DEEBFF;
        background-color:#DEEBFF;
        color:#0065FC;
        cursor:pointer;
    }
    /*Icone des filtres*/
    li span
    {
        width:50px;
        height:50px;
        border-radius:50px;
        color:#0065FC;
        background-color:#DEEBFF;
        display:flex;
        justify-content:center;
        align-items:center;
        position:relative;
        left:-10px;
    }
/* Bloc d'information sur le nombre de logements dans la ville */
#nb_logments_ville
{
    margin:0px;
    margin-top:36px;
    margin-left:6px;
    display:flex;
    align-items:center;
    font: size 0.9em;
}
    /* L'icône d'information */
    #nb_logments_ville span
    {
        height:20px;
        width:20px;
        display:flex;
        justify-content: center;
        align-items:center;
        color:#0065FC;
        border-radius:20px;
        margin-right:1%;
        border: solid 2px #F2F2F2;
        font-size:0.75em;
    }
/********* FIN DU VOLET DE LA BARRE DE RECHERCHE - DES FILTRES ET DE LA PHRASE INFORMATIVE *********/


/********* DEBUT DES SECTIONS HEBERGEMENTS A MARSEILLE - ET - LES PLUS POPULAIRES *********/
header + .conteneur + .conteneur
{
    display:flex;
    align-items:stretch;
    justify-content: space-between;
    margin-bottom:66px;
}
/* Le bloc des hébergements disponibles */
#hebergements_marseille
{
    flex:2.09524;
    margin-right:2.98%;
    border-radius:18px;
    background-color:#F2F2F2;
    /* min-height:625px; */
    padding:2%;
}
    /* Titre du bloc des hébergements à Marseille */
    #hebergements_marseille h1, #populaires h1, header + .conteneur + .conteneur +.conteneur h1
    {
        margin:0px;
        font-size:1.4em;
        font-weight:bold;
    }
    /* Bloc des hébergements disponibles dans la ville*/
    #herg_dispo
    {
        display:flex;
        justify-content:space-around;
        flex-wrap:wrap;
        align-content:space-around;
        align-items:center;
        min-height:450px;
    }
        /* Spécification pour l'ensemble des logements */
        #herg_dispo a
        {
            width:235px;
            height:190px;
            border:5px white solid;
            overflow:hidden;
            border-radius:18px;
            display:flex;
            flex-direction:column;
            justify-content: flex-end;
        }
        /*Les bannières de dexcription pour les logements dans n'importe quelle section*/
        .description
        {
            background-color:white;
            padding:5px;
        }
        /*Les étoiles*/
        .description i
        {
            font-size:0.7em;
            margin:0px;
        }
        #fullstar {color:#0065FC;}
        #emptystar {color:#F2F2F2;}
        /*Titre de chaque logement*/
        .description h2
        {
            font-size:0.9em;
            margin:0px;
            margin-bottom:8px;
        }
        /*Petite phrase sur le prix*/
        .description p
        {
            font-size:0.75em;
            margin:0px;
        }
        /*Style du prix*/
        .chiffre
        {
            font-weight:bold;
        }
        /*Les bannières de dexcription pour les logements dans cette section*/
        #hebergements_marseille .description
        {
            background-color:white;
            height:75px;
        }
        /*Les images d'hebergement*/
        .im_herg
        {
            /* display:flex; */
            height:100%;
            background: no-repeat center/100% ;
        }
            /*Etoiles de cette partie*/
            #hebergements_marseille .description i
            {
                margin-top:10px;
            }
        /* Images du Premier logement au sixième logement*/
        #la_cannebiere .im_herg
        {
            background-image:url("../img/hosting/small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
        }
        #port .im_herg
        {
            background-image:url("../img/hosting/small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
        }
        #mouettes .im_herg
        {
            background-image:url("../img/hosting/small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
        }
        #mer .im_herg
        {
            background-image:url("../img/hosting/small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
        }
        #panier .im_herg
        {
            background-image:url("../img/hosting/small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
        }
        #amina .im_herg
        {
            background-image:url("../img/hosting/small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
        }
    /*Le texte: Afficher plus*/
    #herg_dispo + p
    {
        font-weight:bold;
        font-size:0.9em;
    }


    
/* Bloc des logements populaires */
#populaires
{
    flex:1;
    padding:2%;
    border-radius:18px;
    background-color:#F2F2F2;
}
/*Titre de la section*/
#populaires_titre
{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
    /*L'icône de stats*/
    #populaires_titre i
    {
        font-size:1.4em;
        font-weight:bold;
    }
/*L'ensemble des logements populaires*/
#herg_popu
{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    height:96%;
    margin-top:2px;
}
#herg_popu a
{
    width:100%;
    height:145px;
    border:5px solid white; border-radius: 18px;
    display:flex;justify-content: flex-end;
    overflow: hidden;
}
#herg_popu .description
{
    width:63%; /*45*/
    padding:9%;
}

    /*Les images de cette section*/
    .im_popu
        {
            width:100%;
            /* height:100%; */
            background: no-repeat center/130% ;
        }
        /*Les couleurs de chaque logements*/
        #matin .im_popu
        {
            background-image:url('../img/hosting/small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
        }
        #hotes .im_popu
        {
            background-image:url('../img/hosting/small/aw-creative-VGs8z60yT2c-unsplash.jpg');
        }
        #blanc .im_popu
        {
            background-image:url('../img/hosting/small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
        }


/********* FIN DES SECTIONS HEBERGEMENTS A MARSEILLE - ET - LES PLUS POPULAIRES *********/

/* --------Ombrage---------------- */
section a {box-shadow:  0 0 0.8em grey;}


/********* DEBUT DU VOLET ACTIVITES A MARSEILLE *********/
header + .conteneur + .conteneur +.conteneur
{
    display:flex; flex-direction:column;
    align-items:stretch;
    justify-content: space-between;
    min-height:500px;
}
/*Les différentes activités*/
#activites
{
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    height:450px;
}
/*Sous bloc du bloc des activités*/
    #vieux_port,#parc_calanques,#volet_vertic_deux,#volet_vertic_quatre
    {
        width:22.5%;
    }
    #vieux_port,#parc_calanques
    {
        width:22.5%;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius:18px;
        overflow:hidden;
    }
    /*Les deux sous-divisions*/
    #volet_vertic_deux,#volet_vertic_quatre
    {
        display:flex;
        flex-direction:column;
        justify-content: space-between;
    }
    /*Les quatres sous-divisions*/
    #pomegues,#frioul,#garde,#longchamp
    {
        width:100%;
        height:45%;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius:18px;
        overflow:hidden;
    }
    /*Nom des lieux*/
    #activites h2
    {
        font-weight:bold;
        font-size:0.9em;
        max-height:56px;
        background-color:white;
        margin:0px;
        padding:6.5%;
    }
    /*Les images des lieux d'activités pour les longs div*/
    .im_act
    {
        height:100%;
        background: no-repeat center/210% ;
    }
    /*Les images des lieux d'activités pour les sous-divisions*/
    #volet_vertic_deux .im_act,#volet_vertic_quatre .im_act
    {
        height:100%;
        background: no-repeat center/100% ;
    }
    /*Placement des images de chaque lieux*/
    #vieux_port .im_act
    {
        background-image:url('../img/activity/medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    }
    #parc_calanques .im_act
    {
        background-image:url('../img/activity/medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
    }
    #pomegues .im_act
    {
        background-image:url('../img/activity/medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    }
    #frioul .im_act
    {
        background-image:url('../img/activity/medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    }
    #garde .im_act
    {
        background-image:url('../img/activity/medium/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    }
    #longchamp .im_act
    {
        background-image:url('../img/activity/medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    }